<div>
  <h1>Quiz Application</h1>
  <div class="form-group">
    <label for="input3" class="col-sm-4 control-label"> Who are you? </label>
    <div class="col-sm-6">
      <select [(ngModel)]="selectedValue" (change)="gettingIdentity()">
        <option *ngFor="let i of identitys" [value]="i">
          {{ i }}
        </option>
      </select>
    </div>
  </div>

  <div>
    <ul>
      {{ question }}
    </ul>

    <ul *ngFor = "let opt of option">
      <div class="checkbox">
        <label>
          <input type = "checkbox" (click)="check($event,opt)">
          {{opt}}
          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        </label>
      </div>
    </ul>
      <button (click)="previous()"*ngIf="i>0" >Previous Question</button>
      <button  (click)="next()" *ngIf="i<quizLength">Next Question</button>
  </div>
      <button class="btn btn-info" (click)="generatemark()">Submit Answer</button>
</div>
